@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg text-text-primary font-body;
    -webkit-font-smoothing: antialiased;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .font-display {
    font-family: 'Barlow Condensed', sans-serif;
  }
  .font-mono {
    font-family: 'DM Mono', monospace;
  }
  .font-body {
    font-family: 'DM Sans', sans-serif;
  }
}
